include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include readme.md

include hypertools/core/config.ini
include tests/reference_figures *.fig *.png *.gif *.pdf

recursive-include tests * tests/hyp/*
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md *rst conf.py Makefile make.bat *.jpg *.png *.gif