pydata-wrangler
seaborn>=0.8.1
requests>=2.25
configparser>=5.0.2
dill>=0.3.4
six>=1.15.0
numpy>=1.19.5
sklearn
scikit-learn
flair>=0.8.0.post1
datasets>=1.8.0
pandas>=1.2.4
scipy>=1.7.0
umap-learn
matplotlib>=3.3.4