pydata-wrangler>=0.2.2
seaborn>=0.8.1
requests
dill
six
numpy>=1.19.5
sklearn
scikit-learn
pandas
scipy
umap-learn
matplotlib>=3.2.2
plotly>=4.6.0
moviepy
kaleido
configparser
ffmpeg-python
imageio-ffmpeg