sphinx>=4.0.0
sphinx_bootstrap_theme>=0.7.0
sphinx-gallery>=0.10.0
numpydoc>=1.1.0
deepdish
nbsphinx>=0.8.0
jupyter_client>=6.0.0
wikipedia
ipython
# Main package dependencies
PPCA>=0.0.2
scikit-learn>=1.4.0
pandas>=2.2.0
seaborn>=0.13.0
matplotlib>=3.8.0
scipy>=1.13.0
numpy>=2.0.0
umap-learn>=0.5.5
requests>=2.31.0
ipympl>=0.9.3
# Optional dependencies for examples
hdbscan>=0.8.11
memory_profiler
